<!doctype html>

<html>

<head>
    <meta name="msvalidate.01" content="3E91B0BF8BC34B1E25441593FC572CDF" />

    <meta name=”description” content=” whats trending on around the world happening on the internet. ”/>

    <meta name="keywords" content="whats trending, whats trening on twitter,whats trending on google, whats trending on instagram, instagram trending, whats trending on flickr, flikr tredning, facebook trending, whats trending on facebook ">

    <title>Trends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angularjs1.2.19.js"></script>

    <script src="js/ui-router0.2.10.js"></script>

    <script src="js/underscore.js-1.7.0.js"></script>
    <script src="js/GA.js"></script>


</head>

<body ng-app="potatoNews" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <ui-view></ui-view>
        </div>
    </div>





    <!-- TREND  -->
    <script type="text/ng-template" id="/trend.html">

        <header class="my-header">
            <a href="/">
                <h1 class="h1trend">Trending</h1> </a>
        </header>





        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                
                    <div id="DIV_1">
                        <div id="DIV_2">
                            <input name="utf8" type="hidden" value="✓" id="INPUT_3" />
                        </div>
                        <div id="DIV_4">
                            <div id="DIV_5">
                                <input id="INPUT_6" name="search[query]" placeholder="Search Trends" type="text" />
                            </div>
                            <div id="DIV_7">
                                <input name="commit" type="submit" value="search" id="INPUT_8" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>










        <a href="#/youtube/:{{trend.trendName}}">{{trend.trendName}} </a>

        <a ui-sref="contacts.detail({ id: contact.id })">{{ contact.name }}</a>





        <div class="container">
            <div class="row ">
                <ul class="col-md-3 nobullets">
                    <h4>World-wide </h4>
                    <li class="trendli" ng-repeat="trend in trends | filter:'WW' | orderBy:'-_id' | limitTo: '12'">
                        <a class="trenda" href="#/trend/{{trend.tName_h}}">
                    {{trend.tName}}
                    </a>
                    </li>
                </ul>



                <ul class="col-md-3 nobullets">
                    <h4>US </h4>
                    <li class="trendli" ng-repeat="trend in trends | filter:'US' | orderBy:'-_id' | limitTo: '12'">
                        <a class="trenda" href="#/trend/{{trend.tName_h}}">
                    {{trend.tName}}
                    </a>
                    </li>
                </ul>




                <ul class="col-md-3 nobullets">
                    <h4>Asia </h4>
                    <li class="trendli" ng-repeat="trend in trends | filter:'ASIA' | orderBy:'-_id' | limitTo: '12'">
                        <a class="trenda" href="#/trend/{{trend.tName_h}}">
                    {{trend.tName}}
                    </a>
                    </li>
                </ul>

                <ul class="col-md-3 nobullets">
                    <h4>Europe </h4>
                    <li class="trendli" ng-repeat="trend in trends | filter:'EU' | orderBy:'-_id' | limitTo: '12'">
                        <a class="trenda" href="#/trend/{{trend.tName_h}}">
                    {{trend.tName}}
                    </a>
                    </li>
                </ul>

            </div>
        </div>




        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </script>
    <!-- end of /trend template -->










    <script src="js/angularApp.js"></script>

    <script src="js/jquery.js">
    </script>

    <script src="js/script.js"></script>
</body>

</html>
